*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navigation{
    height: 10vh;
    border: 2px solid black;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.left > h2{
    padding: 20px;
}
.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.right > a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}
.right > button{
    border: 1px solid blue;
    color: blue;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

.content{
    text-align: center;
    padding: 300px;
    font-size: 30px;
    
}
.content > h4{
    font-weight: 100;
    font-size: smaller;
    padding: 15px;

}

 .content{
    height: 90vh;
    display: block;
    justify-content: center;
    align-items: center;
   background-image: url("https://cdn.pixabay.com/photo/2018/05/10/21/46/cat-3388895_1280.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(232, 13, 56);
    
}
.content:hover{
    color: rgb(214, 124, 14);
}
.content > button{
    border: 1px solid rgb(23, 23, 24);
    background-color: rgb(14, 65, 70);
    padding: 15px;
    color: aliceblue;
    border-radius: 10%;
}
button:hover{
    background-color: rgb(84, 81, 26);
    cursor: pointer;
}
